$height-footer: 150px;

section{
    position: relative;
    width: 100vw;
    height: 100vh;
    &#eyecatcher {
        background-image: url('../assets/bg.png');
        background-position: center left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin-top: -145px;
        .info {
            position: absolute;
            top: 5vh;
            left: calc(50% - 125px);

            display: flex;
            flex-direction: column;
            img.logo {
                margin-bottom: 100px;
            }
            a.btn.btn-lijst {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
        .scroll {
            position: absolute;
            bottom: 0;
            left: calc(50% - 1px);

            display: flex;
            flex-direction: column;
            img {
                width: 1px;
                margin: 0 auto;
            }
            a {
                color: $white;
            }
        }
    }
    &#what {
    }
}