nav {
    position: absolute;
    z-index: 999;
    ul {
        list-style-type: none;
        padding: 0;
        a { 
            color: $white;
            li {
                display: inline-block;
                margin: 0 10px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.nav-bg {
    position: relative;
    width: 100vw;
    background: linear-gradient(-45deg,#009ee3, #63c6c8);
    img.logo-white {
        position: absolute;
        top: 15px;
        left: 30px;
    }
}
@media screen and (min-width: 320px) {
    h2 {
        text-align: left;
    }
    nav {        
        top: 15px;
        right: 8px;
    }
    .nav-bg {
        height: 100px;
        img.logo-white {
            height: 70px;
        }
    }
}
@media screen and (min-width: 768px) {
    nav {        
        top: 30px;
        right: 30px;
    }
    .nav-bg {
        height: 150px;
        img.logo-white {
            height: 120px;
        }
    }
}