@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,900');

body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    line-height: 1.5em;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background-color: $white;
    overflow-x: hidden;
    text-align: center;
}

h1,
h2 {
    font-weight: normal;
}

h1#titel {
    color: $primary;
    font-size: 3em;
}

img {
    &.triangle-blue {
        width: 103vw;
        margin: 0 -1vw -1px;
    }
    &.triangle-white {
        position: absolute;
        width: 103vw;
        bottom: -1px;
        left: -1vw;
        transform: rotateX(180deg);
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
    text-decoration: none;
}

form {
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
    input,
    label,
    button {
        font-family: 'Maven Pro', sans-serif;
        font-size: 1.2em;
        height: 40px;
        padding: 5px 8px;
        margin-bottom: 8px;
        outline: none;
    }
    input:focus,
    button:hover {
        box-shadow: $shadow;
        animation: test 100ms normal;
    }
    input {
        color: $primary;        
        border: 1px solid $primary;
    }
    button {
        font-weight: 900;
        height: 50px;
        border: none;
        opacity: 0.9;
        background: $primary;
        color: $white;
        &:hover {
            transition: $trans;
            opacity: 1;
            cursor: pointer;
        }
    }
    label {
        height: 24px;
        margin: 0;
    }
}


@media screen and (min-width: 320px) {
    form {
        width: 300px;
    }
}
@media screen and (min-width: 768px) {
    form {
        width: 100%;
        max-width: 500px;
    }
}

@keyframes test {
    0% { filter: blur(0)}
    50% { filter: blur(2px)}
    100% { filter: blur(0)}
}